/* Universal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    width: 1640px;
    top: 16px;
    min-height: calc(100vh - 32px);
    max-height: max-content;
    left: 265px;
    position: relative;
    border-radius: 16px;
}

/* Main Content Wrapper */
.content-wrapper {
    display: inherit;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 275px; /* Adjust based on sidebar width */
}

.main-content {
    max-width: 1640px;
    text-align: center;
    padding: 20px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Style for the container */
.container {
    max-width: inherit; /* Adjust the maximum width */
    margin: auto; /* Center the container */
    padding: 4px; /* Add padding */
}

/* Navbar styling */
.navbar {
    background-color: #007bff; /* Set background color */
    border-radius: 8px;
}
